@*@model Models.Replys*@
@model Web.ViewModels.ReplyViewModel

@if (Model != null)
{
    <br />
    <div class="media reply">
        <div class="media-left">
            <a href="#"><img alt="..." src="~/Content/Images/avatar/@Model.User.Profile.ImageData" class="media-object"></a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">@*@ViewBag.NameUser*@ @Html.DisplayFor(model => model.User.Name)</h4>
            <p>@Html.DisplayFor(model => model.RepComment)</p>
            <ul class="blog_time comment-date">
                <li><a href="javascript:void(0);"><i class="fa fa-clock-o"></i>Post :@Html.DisplayFor(model => model.TimeRep)</a></li>
            </ul>

        </div>
    </div>
}
else
{
    <div class="noreply" style="color: red;">@ViewBag.Message</div>
}
