@*@model IEnumerable<Models.Categories>*@
@model IEnumerable<Web.ViewModels.CategoryViewModel>

@foreach (var item in Model)
{
    <li><a href="@Url.Action("SingleCategory", "Home", new { id = item.CategoryId })"><span class="text">@item.Name</span><span class="label label-info float-right ml-2">@item.Posts.ToList().Count()</span></a></li>
}